@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//fonts.googleapis.com/css?family=Lato:300:400);




* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(270deg, #EFF2FA 2.85%, #F5F7FB 102.4%);
}

/* .home_bg header {
  position: fixed;
  top: 0; 
  width: 100%;
  margin: 0px auto; 
  
} */

.sticky {
  background: white !important;
  color: black;
  z-index: 999;
  transition: 0.3s ease-in-out;
  position: fixed;
  top: 0;
}

.sticky svg {
  color: black;
}

.sticky ul li a {
  color: black !important;
}

.sticky ul li:hover a {
  color: rgb(0, 108, 179) !important;
}


.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 230px;
}


/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

}


.home_bg {
  /* background: rgb(18,58,188);
background:linear-gradient(0deg, rgba(18,58,188,1) 3%, rgb(0, 120, 212) 100%); */
  background-image: url(/assets/images/background_home.png);

}

.bg_primary {
  background: #123ABC;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}



.home_text {
  font-family: 'DM Sans', sans-serif;

  /* font-family: 'Poppins', sans-serif; */
}

.primary {
  color: #123abc;
}

.primary1 {
  background-color: #123abc;
}

.about_paragrph button a::after {
  content: url(/assets/images/home/Vector.svg);
  padding-left: 8px;
}

.pop_bold {
  font-family: 'Poppins', sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background: radial-gradient(75.52% 471.76% at 8.92% 15.87%, #3188EF 0%, #2B88DE 0.01%, #123ABC 100%);

}

.quicklinks {
  position: absolute;
  left: 0px;
  top: 80px;
}

.contacts {
  position: absolute;
  left: 250px;
  top: 80px;
}

.ellipse3 {
  border-radius: 50%;
}

.circle {
  position: relative;

}

.outercircle {
  background-color: transparent;

  border-radius: 50%;
  margin-top: 2em;
  border: 4px solid #EE8C3B;
  border-left: none;
  border-bottom: none;
  transform: rotate(30deg);
  justify-content: center;
}

#inner {
  width: 112px;
  height: 112px;
}

.innercircle {
  background-color: transparent;

  border-radius: 50%;
  margin-top: 3em;
  border: 4px solid #123abc;
  transform: translate(6%, -39%);

}

.innercircle>img {
  width: 100%;
  border-radius: 50%;
  transform: rotate(-30deg);
}

.circle-in {
  transform: translate(8%, -46%);
}

@media (min-width: 640px) {
  .outercircle {
    /* width:164px;
  height: 164px; */
    border: 4px solid #EE8C3B;
    border-left: none;
    border-bottom: none;
    transform: rotate(30deg);
  }

  .innercircle {
    /* width: 146px;
    height: 146px;  */
    margin-top: 2em;
    transform: translate(5%, -21%);
  }

  .circle-in {
    transform: translate(7%, -25%);
  }
}

@media (min-width: 768px) {
  .outercircle {
    /* width: 160px;
  height: 160px; */
    border: 5px solid #EE8C3B;
    border-left: none;
    border-bottom: none;
    transform: rotate(30deg);
  }

  .innercircle {
    /* width: 144px;
  height: 144px;  */
    margin-top: 2em;
    transform: translate(5%, -19%);
  }

  .circle-in {
    transform: translate(5%, -21%);
  }
}

@media (min-width: 1024px) {
  .outercircle {
    /* width:192px;
  height: 192px; */
    border: 6px solid #EE8C3B;
    border-left: none;
    border-bottom: none;
    transform: rotate(30deg);
  }

  .innercircle {
    /* width: 176px;
    height: 176px;  */
    margin-top: 3em;
    transform: translate(3%, -25%);
  }

  .circle-in {
    transform: translate(3%, -30%);
  }
}

.executive {
  width: 90%;
  /* margin: 3%; */

}

.team_socials a i {
  color: #123ABC;
}

.team_image img {
  height: 154px;
  width: 154px;
  border: 4px solid #123ABC;
  outline: 4px solid #EE8C3B;
  outline-offset: 6px;
  margin: 0px auto;
}

.team_card {
  border-bottom: 15px solid #123ABC;
  width: 331px !important;
}

.team_card:hover {
  border-bottom: 15px solid #082688;
  box-shadow: 2px 2px 10px solid black;
  translate: scaleY(1.2);
}

.testimonials_card {
  width: auto !important;
  height: 510px !important;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.16);
  border-bottom: 15px solid #123ABC;
}

.testimonial_image img {
  height: 120px;
  width: 120px;
  border: 3.2px solid #123ABC;
  margin: 0px auto;
}


.quote_img img {
  width: 120px;
  height: auto;
}

.event_card {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

@media (min-width: 320px) {
  .footer-1 {
    grid-template-rows: 0.1fr 0.1fr 1fr;
  }

  .footer-up-text {
    grid-template-rows: 0.1fr 0.1fr;
  }
}


@media (min-width: 640px) {
  .footer-1 {
    grid-template-rows: 0.1fr 0.1fr 1fr;
  }

  .footer-content {
    grid-template-columns: 1fr 1fr;
  }


  .contact {
    grid-template-columns: 0.2fr 0.9fr;
  }
}

@media (min-width: 1024px) {
  .footer-1 {
    grid-template-rows: 0.1fr 0.1fr 1fr;
  }

  .footer-content {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1280px) {
  .footer-content {
    grid-template-columns: 1fr 0.7fr 1fr;
  }


  .contact {
    grid-template-columns: 0.2fr 0.9fr;
  }
}

.footer_input input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.footer_input button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #328AF1;
  color: white !important;
}

.nav_wraper {
  background: #123abc;
}

.home_landing {
  background: #123abc;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}


@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.sans {
  font-family: "DM Sans", sans-serif;
}

.faq_header::after {
  content: "+";
  float: right;
  transition: 0.2s ease-in-out;
}

.faq_body {
  max-height: 000px;
  overflow: hidden;
  /* padding-top: 30px;   */
  transition: 0.3s ease-in-out;
}

.faq_header.active::after {
  content: "+";
  transform: rotate(45deg);
  fill: red;
}

.faq_body.active {
  background: rebeccapurple;
  color: red;
}

.faq_content {
  font-size: 12px;
}

.gray {
  color: #374151;
}

.padding {
  padding-left: 10%;
}

.border-b-20 {
  border-bottom-width: 20px;
}

.border-b-primary {
  border-bottom-color: #123abc;
}

/* @media (max-width: 1024px) {
    .border-b-20{
      display: none;
    }
  } */
.descriptions{
  text-overflow: ellipsis;
}

.card:hover .front {
  opacity: 0.1;
}

.card:hover .back {
  transform: translateY(0);
}