.wavediv {
    margin-bottom: 3rem;
}

.waves {
    width: 100%;
    height: 15vh;
    min-height: 60px;
    max-height: 100px;
}

/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.about_border {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 6px solid #123abc;
    width: 25%;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .about_border {
        display: none;
    }
}

.swiper-pagination-bullet {
    height: 12px !important;
    width: 12px !important;
    background-color: #123abc !important;
    border-color: #123abc !important;
}

.swiper-pagination-bullet-active {
    background-color: #123abc !important;
    border-color: #123abc !important;
}
